{% extends "admin/base.html" %}
{% set active_page = "api" %}
{% set main_page = "api" %}
{% block content %}

    <div class="ui stackable one column grid">

        <div class="column">
            <h1 class="ui header">
                <i class="group icon"></i>
                <span class="content">
                    Api Keys
                </span>
            </h1>
        </div>

        <div class="column">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>API Key</th>
                    <th>Secret</th>
                    <th>Status</th>
                    <th>Resources</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for api_key in api_keys %}
                    <tr>
                        <td>{{ api_key.id }}</td>
                        <td>{{ api_key.name }}</td>
                        <td>{{ api_key.access_key }}</td>
                        <td>{{ api_key.secret_key }}</td>
                        <td>{{ api_key.status }}</td>
                        <td>{{ api_key.resources.value }}</td>
                        <td>{{ api_key.created }}</td>

                        <td>
                            <a href="{{ url_for('admin.api.keys_edit', key_id=api_key.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui red basic mini icon button delete-api_key-button-{{ api_key.id }}"
                                    data-api_key="{{ api_key.id }}">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="8">
                        <a href="{{ url_for('admin.api.keys_add') }}"
                           class="ui right floated small green icon button">
                            <i class="add icon"></i> Add new Key
                        </a>
                    </th>
                </tr>

                </tfoot>
            </table>

        </div>
    </div>

    {% for api_key in api_keys %}
        <div class="ui modal delete-api_key-{{ api_key.id }}">
            <i class="close icon"></i>
            <div class="header">
                Delete Api Key "{{ api_key.id }}"
            </div>
            <div class="content">
                <div class="description">
                    <form id="delete-api_key-{{ api_key.id }}-form"
                          action="{{ url_for('admin.api.keys_delete', key_id=api_key.id) }}"
                          method="POST">
                        <input type="hidden" name="delete_id" id="delete_id" value="{{ api_key.id }}">
                        Are you sure you want to delete the selected api key?
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit" form="delete-api_key-{{ api_key.id }}-form"
                        class="ui positive red button">
                    Delete api key
                </button>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        {% for api_key in api_keys %}
            $(".delete-api_key-button-{{ api_key.id }}").click(function () {
                $(".delete-api_key-{{ api_key.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock %}