{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_default_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/misc.html" import render_default_images_modal %}

{% set active_page = "permanent_streams_categories" %}
{% set main_page = "permanent_streams" %}
{% block content %}
    <div class="column">
        <div class="row">
            <h1 class="ui header">Add new Category</h1>
        </div>
    </div>

    <div class="column">
        <form method="POST" enctype="multipart/form-data"
              action="{{ url_for('admin.streams.categories_add') }}"
              class="ui form">
            <div class="ui stackable two column grid">
                {{ form.csrf_token }}
                <div class="column">
                    {{ render_text_field(form.name) }}
                    {{ render_text_field(form.priority) }}
                </div>
                <div class="column">
                    {{ render_image_field(form.custom_img) }}

                    {{ render_default_image_field(form.default_img) }}


                    {{ render_toggle_field(form.use_default_img) }}

                </div>
                <div class="column">
                    <button class="ui green button" type="submit"><i class="add icon"></i>Add new Category
                    </button>
                </div>
            </div>

        </form>
    </div>


    {{ render_default_images_modal(default_images_folders) }}

{% endblock %}


{% block extra_javascripts %}
    <script type="text/javascript">
        $('.ui.dropdown').dropdown();
        loadDefaultImagesActions('{{ url_for('admin._get_images_path') }}');
    </script>


{% endblock %}