<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal sixteen stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Subscribe</h4>
                <div class="ui inverted link list">
                    <a href="{{ url_for('users.feeds.events_feed') }}" class="item"><i class="rss icon"></i> All events</a>
                    <a href="{{ url_for('users.feeds.events_feed', feed_type='live') }}" class="item"><i
                            class="rss icon"></i> Live events</a>
                    <a href="{{ url_for('users.feeds.events_feed', feed_type='upcoming') }}" class="item"><i
                            class="rss icon"></i> Upcoming events</a>
                    <a href="{{ url_for('users.feeds.events_feed', feed_type='recent') }}" class="item"><i
                            class="rss icon"></i> Recent events</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=webcast&s=webcast"
                       class="item">Help</a>
                    <a href="{{ url_for('users.events_details', event_id=0) }}" class="item">Webcast Test Channel</a>
                    <a href="http://information-technology.web.cern.ch/services/fe/webcast" class="item">Webcast
                        Service</a>
                    <a href="https://avc-status.web.cern.ch/" class="item" title="AVC Health Dashboard">
                        AVC Health Dashboard</a>
                    <a href="http://home.cern/" class="item" title="CERN Homepage">CERN</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Contact</h4>
                <div class="ui inverted link list">
                    <div class="item">CERN<br/>
                        CH-1211 Geneva 23<br/>
                        Switzerland
                    </div>
                    <a href="http://home.cern/contact" class="item">How to reach us</a>
                </div>
            </div>
            {#            <div class="three wide colum">#}
            {#                <h4 class="ui inverted header">Contact</h4>#}
            {#                <div class="ui inverted link list">#}
            {#                    <span class="item">CERN<br/>#}
            {#                        CH-1211 Geneva 23<br/>#}
            {#                        Switzerland</span>#}
            {#                    <a href="http://home.cern/contact" class="item">How to reach us</a>#}
            {#                </div>#}
            {#            </div>#}
            <div class="four wide column right aligned">
                <img src="{{ url_for('static', filename='images/outline_80_white.png') }}"/>
            </div>
        </div>
        <div class="ui stackable inverted divided equal sixteen stackable grid">
            <div class="sixteen wide column">
                <p><a href="http://cern.ch/copyright">© Copyright CERN {{ NOW.year }}</a></p>
            </div>
        </div>
    </div>
</div>