{% set navigation_bar = [
    (url_for('users.index'), 'home', 'home', 'Live Webcasts'),
    (url_for('users.permanent_webcasts'), 'home', 'home', 'Permanent Webcasts')
] -%}

{% if current_user.is_authenticated or IS_LOCAL_INSTALLATION %}
    {% set autehntication_bar = [
        ('#', 'profile', 'user', 'Logged in as: ' + (current_user.username if current_user.is_authenticated else 'Dummy user')),
        (url_for('users.logout'), 'logout', 'sign out', 'Logout')
] -%}
{% else %}
    {% set autehntication_bar = [
        (url_for('cern_openid.login'), 'login', 'sign in', 'Login')

] -%}
{% endif %}

{% set active_page = active_page|default('live') -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/semantic.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/icon.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/glide.core.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/glide.theme.min.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media-queries.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users/cern_toolbar.css') }}" />

    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    {% endblock %}
    {% block script %}
    {% endblock %}

</head>
<body>

<div class="ui vertical inverted sidebar menu left">
    <a href="{{ url_for('users.index') }}"
       class="{{ 'active' if 'live' == active_page else '' }} item"><i class="home icon"></i>Webcast Home
    </a>
    <a href="{{ url_for('users.permanent_webcasts') }}"
       class="{{ 'active' if 'permanent' == active_page else '' }} item"><i
            class="film icon"></i> Permanent Webcasts</a>
    <a href="http://cdsweb.cern.ch/collection/Presentations%20%26%20Talks?ln=en" class="item"><i
            class="external icon"></i> Archive</a>
</div>

<div class="pusher">
    {% from "macros/toolbars.html" import render_cern_toolbar, render_dev_toolbar %}
    {{ render_dev_toolbar(current_user, IS_LOCAL_INSTALLATION, DEBUG) }}
    {{ render_cern_toolbar(current_user, IS_LOCAL_INSTALLATION) }}
    <div class="ui blue inverted one item menu">
        <div class="item"><i aria-hidden="true" class="exclamation triangle icon"></i> <a href="/"
                                                                                          title="New webcast website">Give
            a try to the
            new CERN Webcast Website and provide us feedback.</a>
        </div>
    </div>

    <div class="ui inverted vertical masthead segment">

        <div class="ui centered grid mobile hidden">
            <div class="center aligned column">
                <div class="ui large secondary inverted pointing menu main">
                    <a href="{{ url_for('users.index') }}"
                       class="{{ 'active' if 'live' == active_page else '' }} item mobile hidden"><i
                            class="home icon"></i> Webcast Home</a>
                    <a href="{{ url_for('users.permanent_webcasts') }}"
                       class="{{ 'active' if 'permanent' == active_page else '' }} item mobile hidden"><i
                            class="film icon"></i> Permanent Webcasts</a>
                    <a href="http://cdsweb.cern.ch/collection/Presentations%20%26%20Talks?ln=en" target="_blank"
                       class="item mobile hidden"><i class="external icon"></i> CDS Archive</a>
                </div>
            </div>
        </div>

        <div class="ui stackable grid mobile hidden">
            <div class="center aligned row">
                <div class="sixteen wide column">
                    {% block main_header %}

                    {% endblock %}

                </div>
            </div>

        </div>

        {% block upper_content %}{% endblock %}

    </div>

    {% block bottom_content %}{% endblock %}

    {% include 'users/common/footer.html' %}

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-2.2.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.browser.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.address-1.5.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/libs/glide.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/readmore.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/semantic.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/users/main.js') }}"></script>


{#{% assets "users_js_all" %}#}
{#    <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#{% endassets %}#}

{% block extra_javascripts %}
{% endblock %}

<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$']],
            processEscapes: true},
  showProcessingMessages: false,
  messageStyle: "none"
});





</script>


</body>


</html>


