<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharing Screen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style type="text/css">
        body {
            background-color: #000;
        }
    </style>
</head>
<body>

{% if is_authorized %}

    {% if event.status == live_status or preview %}

       <iframe id="webcastIframe"
            src="https://mediastream.cern.ch/MediaArchive/Video/Public2/paella-player-2/index.html?mode=embed&cameraUrl={{event.live_stream.camera_src}}&slidesUrl={{event.live_stream.slides_src}}"
            width="100%" height="100%" allowfullscreen=""></iframe>

    {% else %}
        <div class="ui center aligned segment">
            <h4 style="color:#fff">The event will start {{ formated_date }} ({{ event.timezone.value }})</h4>
        </div>
    {% endif %}

    <script type="text/javascript">
            const myFrame = document.getElementById("webcastIframe");
            let slidesUrl = {{ event.live_stream.slides_src|tojson }};
            let cameraUrl = {{ event.live_stream.slides_src|tojson }};

            function receiveMessage(event) {
                if (event.data === 'give-me-sources') {
                    const exists = new RegExp("cern.ch$").test(event.origin);
                    console.log(exists, event.origin);
                    if (!exists) {
                        return;
                    }
                    console.log("Received callback!");
                    console.log("Sending sources to iframe");

                    myFrame.contentWindow.postMessage({slidesUrl, cameraUrl}, myFrame.src);
                }
            }

            window.addEventListener("message", receiveMessage, false);

        </script>

{% else %}
    <h4 style="color:#fff"> You are not authorized to watch this webcast. </h4>
{% endif %}


</body>
</html>
