{% extends "users/base.html" %}
{% from "users/macros/share.html" import render_share_link %}
{% from "users/macros/embed.html" import render_embed_link %}
{% from "users/macros/carousel.html" import render_carousel %}
{% set active_page = "live" %}
{% set main_page = "live" %}

{% block title %}CERN Webcast Website | Home{% endblock %}

{% block main_header %}
    <h1 class="ui inverted header">
        {% if live_events|length == 0 %}
            <i class="toggle right icon"></i> Next Live Event
        {% else %}
            <i class="toggle right icon"></i>Live Webcasts
        {% endif %}
    </h1>
{% endblock %}

{% block upper_content %}
    {{ render_carousel(live_events=live_events, next_live_events=next_live_events, live_status=LIVE_STATUS) }}
{% endblock %}

{% block bottom_content %}
    <div class="ui vertical stripe segment bottom-content">
        <div class="ui stackable grid container">
            <div id="bottom-content-row" class="row">
                <div class="ten wide column">
                    <h3>Upcoming events</h3>
                    {% if upcoming_events %}
                        <div class="ui three stackable cards">
                            {% for event in upcoming_events %}
                                <div class="ui card upcoming">
                                    {% if event.custom_img and not event.use_default_img %}
                                        <div class="image">
                                            <img src="{{ event.custom_img }}">
                                        </div>
                                    {% elif event.default_img %}
                                        <div class="image">
                                            <img src="{{ event.default_img }}">
                                        </div>
                                    {% endif %}
                                    <div class="content">
                                        <div class="header">
                                            <a href="{{ url_for('users.events_details', event_id=event.id) }}">{{ event.title| truncate(50) }}</a>
                                        </div>
                                        <div class="meta">
                                            {% if event.speakers %}
                                                by {{ event.speakers }}
                                            {% endif %}
                                        </div>
                                        <div class=""><span class="right floated"> <a
                                                href="{{ url_for('users.utils.get_ical', event_id=event.id) }}"><i
                                                class="big calendar icon"></i></a></span>
                                            {{ event.start_date.strftime('%d-%m-%Y %H:%M') }}
                                            <span><i class="clock icon"></i>{{ event.timezone.value }}</span>
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        {% if event.is_protected or event.is_restricted() %}
                                            <i class="lock icon"></i> Restricted
                                        {% endif %}
                                        {% if event.is_sharable %}
                                            {{ render_share_link(event) }}
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                    {% else %}
                        <p>There are no upcoming events on the horizon.</p>
                    {% endif %}
                    {##}
                </div>
                <div class="six wide right floated column">
                    <h3>Recent Events</h3>
                    <div class="ui divided items">
                        {% for event in recent_events %}
                            <div class="item">
                                <div class="image">
                                    <a href="https://cdsweb.cern.ch/record/{{ event.cds_record_id }}"
                                       target="_blank"><img
                                            src="{{ event.image_url }}"
                                            alt="{{ event.title }}"/></a>
                                </div>
                                <div class="content">
                                    <a href="https://cdsweb.cern.ch/record/{{ event.cds_record_id }}" target="_blank"
                                       class="header">{{ event.title }} <i class="external small icon"></i></a>
                                    <div class="meta">
                                        <span class="cinema">by {{ event.speakers }}</span>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block extra_javascripts %}
    <script>

        let carousel = $('#Carousel').glide({
            type: 'carousel',
            startAt: 1,
            touchDistance: 2,
            arrowsWrapperClass: 'slider-arrows',
            arrowRightText: '',
            arrowLeftText: ''
        });

        $('.activating.element')
            .popup({
                on: 'click',
                inline: true
            })
        ;

        $('.activating.element-live')
            .popup({
                on: 'click',
                inline: false,
                position: 'right center',
            })
        ;

    </script>
{% endblock %}