{% extends "users/base.html" %}
{% set active_page = "permanent" %}
{% set main_page = "permanent" %}

{% block main_header %}


    <h1 class="ui inverted header">
        Permanent webcasts on <a
            href="{{ url_for('users.permanent_webcasts_category_details', category_id=category.id) }}">{{ category.name }}</a>
    </h1>

{% endblock %}

{% block upper_content %}
    <div class="ui container">
        <div class="ui center aligned container permanent-container">

            <div class="ui cards">
                {% for stream in streams %}
                    <a class="ui centered card"
                       href="{{ url_for('users.play_webcast', event_type=event_type, stream_id=stream.id) }}">
                        <div class="image">
                            {% if stream.use_default_img %}
                                <img src="{{ stream.default_img }}"/>
                            {% else %}
                                <img src="{{ stream.custom_img }}"/>
                            {% endif %}
                        </div>
                        <div class="center aligned content">
                            <div class="header">{{ stream.title }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_content %}

{% endblock %}

