{% extends "users/base.html" %}
{% set active_page = "permanent" %}
{% set main_page = "permanent" %}

{% block main_header %}
    <h1 class="ui inverted header">
        Permanent webcasts
    </h1>
{% endblock %}

{% block upper_content %}

    <div class="ui four column stackable center aligned grid permanent-container">
        <div class="ui link cards">
            {% for category in categories %}
                <a class="card"
                   href="{{ url_for('users.permanent_webcasts_category_details', category_id=category.id) }}">
                    <div class="image">
                        {% if category.use_default_img %}
                            <img src="{{ category.default_img }}"/>
                        {% else %}
                            <img src="{{ category.custom_img }}"/>
                        {% endif %}
                    </div>
                    <div class="center aligned content">
                        <div class="header">{{ category.name }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block bottom_content %}

{% endblock %}