{% extends "users/base.html" %}
{% set active_page = "permanent" %}
{% set main_page = "permanent" %}

{% block title %}
    {% if stream.category.id %}{{ stream.category.name }}:{% endif %} {{ stream.title }} | CERN Webcast
    Website{% endblock %}
{% block main_header %}

    <h1 class="ui inverted header">
        {% if stream.category.id %}
            <a href="{{ url_for('users.permanent_webcasts_category_details', category_id=stream.category.id) }}">{{ stream.category.name }}</a>
            :
        {% endif %}
        {{ stream.title }}
    </h1>

{% endblock %}

{% block upper_content %}

    {% if not is_authorized %}
        <div class="ui equal width padded grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui center aligned segment">
                        <h4>You are not authorized to view this event. If you think this is a mistake, please contact us
                            at <a title="Service Desk"
                                  href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=webcast&s=webcast">Service
                                Desk</a>.</h4>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="ui stackable equal width padded grid">
            <div class="row">
                <div class="sixteen wide column">
                    <div id="Container" class="video-container">
                        <iframe id="webcastIframe"
                                src="{{ VIDEO_PLAYER_URL }}/index.html?mode=webcast&camera=true&live=true"
                                width="100%"
                                height="100%"
                                allowfullscreen=""
                                class="iframePaella"
                        ></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui inverted pointing secondary menu">
                        <a class="item" data-tab="first"><i class="share icon"></i> Sharing</a>
                    </div>

                    <div class="ui tab active inverted basic segment" data-tab="first">
                        <h4 class="ui header">Link to this webcast:</h4>

                        <div class="ui form">
                            <div class="field">
                                <input type="text" value="{{ stream.get_stream_url() }}">
                            </div>
                        </div>
                        <h4 class="ui header">Social networks:</h4>
                        <p>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ stream.get_stream_url() }}&t={{ stream.title }}"
                               onclick="openSocialShareWindow(this.href);return false;"
                               target="_blank"
                               class="ui circular facebook icon button">
                                <i class="facebook icon"></i>
                            </a>
                            <a href="https://twitter.com/share?url={{ stream.get_stream_url() }}&via=cern&text={{ stream.title }}"
                               target="_blank"
                               onclick="openSocialShareWindow(this.href);return false;"
                               class="ui circular twitter icon button">
                                <i class="twitter icon"></i>
                            </a>
                            <a href="https://plus.google.com/share?url={{ stream.get_stream_url() }}"
                               target="_blank"
                               onclick="openSocialShareWindow(this.href);return false;"
                               class="ui circular google plus icon button">
                                <i class="google plus icon"></i>
                            </a>
                        </p>
                        <h4 class="ui header">Embed code:</h4>
                        <div class="ui form">
                            <div class="field">
                                <input type="text" value="{{ stream.get_stream_embed_code() }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="black column">

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block extra_javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% if is_authorized %}

        <script type="text/javascript">
            const myFrame = document.getElementById("webcastIframe");
            let cameraUrl = {{ stream.player_src|tojson }};
            let slidesUrl = null;

            function receiveMessage(event) {
                if (event.data === 'give-me-sources') {
                    const exists = new RegExp("cern.ch$").test(event.origin);
                    console.log(exists, event.origin);
                    if (!exists) {
                        return;
                    }
                    console.log("Received callback!");
                    console.log("Sending sources to iframe");

                    myFrame.contentWindow.postMessage({slidesUrl, cameraUrl}, myFrame.src);
                }
            }

            window.addEventListener("message", receiveMessage, false);

        </script>

    {% endif %}
{% endblock %}