{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_multi_select_field %}
{% macro render_camera_slides_tab(form=None, event=None, stream_id=None) %}
    {% if form == None %}
        {% set style = 'display: none' %}
        {% set element_id = 'live_stream_camera_slides_form' %}
    {% else %}
        {% set element_id = 'live_stream_camera_slides_form_'+ stream_id|string %}
        {% if form.type.data == 'embed' %}
            {% set style_camera = 'display: none' %}
            {% set style_slides = 'display: none' %}
        {% endif %}
        {% if form.type.data == 'camera' %}
            {% set style_embed = 'display: none' %}
            {% set style_slides = 'display: none' %}
        {% endif %}
        {% if form.type.data == 'camera_slides' %}
            {% set style_embed = 'display: none' %}
            {% set style_camera = 'margin-bottom: 10px;' %}
        {% endif %}
    {% endif %}
    <div id="{{ element_id }}" style="{{ style }}">
        <div class="ui stackable two column grid">
            <div class="column">

                <h4 class="ui horizontal divider header">
                    Stream Details
                </h4>
                <div class="field">
                    <label for="stream-{ID}-type">Stream Type</label>
                    <select id="stream-{ID}-type" name="stream-{ID}-type" class="ui dropdown stream-type">
                        <option value="camera_slides">Camera & Slides</option>
                        <option value="camera">Camera</option>
                        <option value="embed">Embed</option>
                    </select>
                </div>

                <input type="hidden" id="stream-{ID}" name="stream-{ID}" value="camera_slides">

                <div class="camera-only-{ID} slides-only-{ID}" style="{{ style_camera }}">
                    <div class="two wide fields">
                        <div class="field">
                            <label for="stream-{ID}-room_video_quality">Video Quality</label>
                            <select id="stream-{ID}-room_video_quality" name="stream-{ID}-room_video_quality"
                                    class="ui dropdown">
                                <option value="SD">SD</option>
                                <option value="HD">HD</option>
                            </select>
                        </div>

                        <div class="field">
                            <label for="stream-{ID}-app_name">App name</label>
                            <input type="text" id="stream-{ID}-app_name" name="stream-{ID}-app_name">
                        </div>
                    </div>
                </div>

                <div class="two wide fields">

                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="stream-{ID}-is_enabled"
                                   id="stream-{ID}-is_enabled">
                            <label for="stream-{ID}-is_enabled">Is Enabled</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="stream-{ID}-is_360"
                                   id="stream-{ID}-is_360">
                            <label for="stream-{ID}-is_360">Is 360</label>
                        </div>
                    </div>

                </div>

                <h4 class="ui horizontal divider header">
                    Stream Details
                </h4>
                <div class="field">
                    <button type="button" class="ui primary fluid button set-defaults-button" data-stream="{ID}"
                            data-existing="">
                        Set defaults
                    </button>
                </div>

                <div class="camera-only-{ID}" style="{{ style_camera }}">
                    <h4 class="ui header">Camera</h4>

                    <div class="field">
                        <label for="stream-{ID}-stream_camera_name">Camera Stream</label>
                        <input type="text" id="stream-{ID}-stream_camera_name"
                               name="stream-{ID}-stream_camera_name">
                    </div>

                    <div class="field">
                        <label for="stream-{ID}-camera_src">Stream source</label>
                        <input type="text" id="stream-{ID}-camera_src" name="stream-{ID}-camera_src">
                    </div>
                </div>

                <div class="slides-only-{ID}" style="{{ style_slides }}">
                    <h4 class="ui header mb-3">Slides</h4>

                    <div class="field">
                        <label for="stream-{ID}-slides_src">Stream source</label>
                        <input type="text" id="stream-{ID}-slides_src" name="stream-{ID}-slides_src">
                    </div>
                </div>

                <div class="embed-only-{ID}" style="{{ style_embed }}">
                    <div class="field">
                        <label for="stream-{ID}-embed_code">Stream source</label>
                        <textarea id="stream-{ID}-embed_code" name="stream-{ID}-embed_code"></textarea>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="camera-only-{{ stream_id }}" style="{{ style_camera }}">
                    <h4 class="ui horizontal divider header">
                        SMIL Fetch
                    </h4>

                    <div class="camera-only-{ID}" style="{{ style_camera }}">
                        <div class="two wide fields">

                            <div class="field">
                                <label for="stream-{ID}-smil_camera">Camera SMIL</label>
                                <input type="text" id="stream-{ID}-smil_camera" name="stream-{ID}-smil_camera">
                            </div>

                            <div class="field slides-only-{ID}" style="{{ style_slides }}">
                                <label for="stream-{ID}-smil_slides">Slides SMIL</label>
                                <input type="text" id="stream-{ID}-smil_slides" name="stream-{ID}-smil_slides">
                            </div>
                        </div>
                    </div>

                    <h5 class="ui horizontal divider header">
                        Help
                    </h5>
                    <table class="ui definition table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Camera</th>
                            <th>Slides</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>HD</td>
                            <td>{indico_id}_camera_all</td>
                            <td>{indico_id}_slides_all</td>
                        </tr>
                        <tr>
                            <td>SD</td>
                            <td>{indico_id}_camera_camera</td>
                            <td>{indico_id}_slides_slides</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="column"></div>
            <div class="column"></div>

        </div>

{% endmacro %}