{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_multi_select_field %}
{% macro render_existing_camera_slides_tab(form=None, event=None, stream=None) %}

    {% set element_id = 'live_stream_camera_slides_form_'+ stream.id|string %}
    {% if form.type.data == 'embed' %}
        {% set style_camera = 'display: none' %}
        {% set style_slides = 'display: none' %}
    {% endif %}
    {% if form.type.data == 'camera' %}
        {% set style_embed = 'display: none' %}
        {% set style_slides = 'display: none' %}
    {% endif %}
    {% if form.type.data == 'camera_slides' %}
        {% set style_embed = 'display: none' %}
        {% set style_camera = 'margin-bottom: 10px;' %}
    {% endif %}

    <div id="{{ element_id }}" style="{{ style }}">
        <div class="ui stackable two column grid">
            <div class="column">

                <h4 class="ui horizontal divider header">
                    Stream Details
                </h4>

                {{ render_select_field(form.type, extra_class='stream-type') }}

                <div class="camera-only-{{ stream.id }} slides-only-{{ stream.id }}" style="{{ style_camera }}">
                    <div class="two wide fields">
                        {{ render_select_field(form.room_video_quality) }}
                        {{ render_text_field(form.app_name) }}
                    </div>
                </div>


                <div class="two wide fields">
                    {{ render_toggle_field(form.is_enabled) }}
                    {{ render_toggle_field(form.is_360) }}
                </div>

                <h4 class="ui horizontal divider header">
                    Stream Details
                </h4>

                <div class="field">
                    <button type="button"
                            class="ui primary fluid button set-defaults-button" data-stream="{{ stream.id }}"
                            data-existing="existing-">
                        Set defaults
                    </button>
                </div>


                <div class="camera-only-{{ stream.id }}" style="{{ style_camera }}">
                    <h4 class="ui header">Camera</h4>
                    {{ render_text_field(form.stream_camera_name) }}
                    {{ render_text_field(form.camera_src) }}
                </div>

                <div class="slides-only-{{ stream.id }}" style="{{ style_slides }}">
                    <h4 class="ui header">Slides</h4>
                    {{ render_text_field(form.stream_slides_name) }}
                    {{ render_text_field(form.slides_src) }}

                </div>

                <div class="embed-only-{{ stream.id }}" style="{{ style_embed }}">
                    {{ render_text_field(form.embed_code) }}
                </div>

            </div>

            <div class="column">
                <div class="camera-only-{{ stream.id }}" style="{{ style_camera }}">
                    <h4 class="ui horizontal divider header">
                        SMIL Fetch
                    </h4>

                    <div class="one wide fields">
                        {{ render_toggle_field(form.use_smil) }}
                    </div>

                    <table class="ui definition table">
                        <tbody>
                        <tr>
                            <td class="{% if not stream.camera_smil_fetched %}negative{% else %}positive{% endif %}">
                                Camera SMIL {% if not stream.camera_smil_fetched %}not{% endif %} fetched.
                            </td>
                        </tr>
                        <tr>
                            <td style="{{ style_slides }}"
                                class="slides-only-{{ stream.id }} {% if not stream.slides_smil_fetched %}negative{% else %}positive{% endif %}">
                                Slides SMIL {% if not stream.slides_smil_fetched %}not{% endif %} fetched.
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="ui positive message hidden success-message-stream-{{ stream.id }}">
                        <i class="close icon"></i>
                        <p id="success-message-stream-{{ stream.id }}"></p>
                    </div>

                    <div class="ui negative message hidden error-message-stream-{{ stream.id }}">
                        <i class="close icon"></i>
                        <p id="error-message-stream-{{ stream.id }}"></p>
                    </div>
                    <div class="ui positive message hidden">
                        <i class="close icon"></i>
                        <p id="success-message-stream-{{ stream.id }}"></p>
                    </div>

                    <div class="field">
                        <button type="button" class="ui primary fluid button fetch-camera-slides-smil"
                                data-indico_id="{{ event.indico_id }}"
                                data-event_id="{{ event.id }}" data-stream_id="{{ stream.id }}">Fetch SMIL
                            files
                        </button>
                    </div>

                    <p>If the following fields are empty, the SMIL file will be fetched using the defaults. When
                        fetched,
                        camera and streams sources will be updated with the SMIL file data.</p>


                    <div class="camera-only-{ID}" style="{{ style_camera }}">
                        <div class="two wide fields">
                            <div class="field camera-smil">
                                {{ render_text_field(form.smil_camera) }}
                            </div>
                            <div class="field slides-smil slides-only-{{ stream.id }}" style="{{ style_slides }}">
                                {{ render_text_field(form.smil_slides) }}
                            </div>
                        </div>
                    </div>

                    <h5 class="ui horizontal divider header">
                        Help
                    </h5>
                    <table class="ui definition table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Camera</th>
                            <th>Slides</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>HD</td>
                            <td>{indico_id}_camera_all</td>
                            <td>{indico_id}_slides_all</td>
                        </tr>
                        <tr>
                            <td>SD</td>
                            <td>{indico_id}_camera_camera</td>
                            <td>{indico_id}_slides_slides</td>
                        </tr>
                        </tbody>
                    </table>

                    <h6 class="ui horizontal divider header">
                        Example of SMIL URLs to fetch
                    </h6>

                    <ul>
                        <li>
                            <small>https://wowza20.cern.ch/livehd/ngrp:12345_camera_all/medialist.smil</small>
                        </li>
                        <li>
                            <small>https://wowza21.cern.ch/livehd/ngrp:12345_slides_all/medialist.smil</small>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="column"></div>
            <div class="column"></div>

        </div>

{% endmacro %}