{% extends "users/base.html" %}
{% from "users/macros/player-view-modes.html" import render_view_modes_selector,
 render_finished_message,
  render_event_not_started_message,
   render_event_not_authorized_message,
        render_event_footer,
        render_event_sidebar %}

{% set active_page = "camera_view" %}
{% set main_page = "home" %}

{% block title %}
    {{ event.title }} | CERN Webcast Website
{% endblock %}

{% block main_header %}

{% endblock %}

{% block upper_content %}

    <div class="ui container">

        <div class="ui padded grid">
            <div class="ui items">
                <div class="item">
                    <div class="ui tiny image mobile hidden">
                        <img src="{{ event.default_img }}">
                    </div>
                    <div class="middle aligned content">
                        <div class="ui row">
                            <div class="ui header white-text">{% if preview %}
                                Preview: {% endif %}{{ event.title }}</div>
                        </div>
                        {{ render_view_modes_selector(event, active_page) }}
                    </div>
                </div>
            </div>
        </div>

        {% if is_authorized %}
            {% if (event.status == LIVE_STATUS or preview) or (event.status == ARCHIVED_STATUS and not event.is_older_than(7)) %}
                <div class="ui stackable equal width padded grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            {% if event.extra_html %}
                                <div class="ui blue message">
                                    <i class="close icon"></i>
                                    {{ event.extra_html | safe }}
                                </div>
                            {% endif %}
                            <div id="Container" class="video-container">
                                {% if (event.status == LIVE_STATUS or preview) %}
                                    <iframe id="webcastIframe"
                                            src="{{ VIDEO_PLAYER_URL }}/?mode=webcast&camera=true&live=true"
                                            width="100%"
                                            height="100%"
                                            allowfullscreen=""
                                            class="iframePaella"
                                    ></iframe>
                                {% else %}
                                    <iframe id="webcastIframe"
                                            src="{{ VIDEO_PLAYER_URL }}/?mode=webcast&camera=true"
                                            width="100%"
                                            height="100%"
                                            allowfullscreen=""
                                            class="iframePaella"
                                    ></iframe>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve wide column">
                            {{ render_event_footer(event) }}
                        </div>
                        <div class="black column">
                            {{ render_event_sidebar(event) }}
                        </div>
                    </div>
                </div>
            {% elif event.status == ARCHIVED_STATUS %}
                {{ render_finished_message() }}
            {% else %}
                {{ render_event_not_started_message(formated_date, event.timezone.value) }}
            {% endif %}
        {% else %}
            {{ render_event_not_authorized_message() }}
        {% endif %}

    </div>

{% endblock %}

{% block extra_javascripts %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/users/event-page.js') }}"></script>

    {% if is_authorized %}

        <script type="text/javascript">
            const myFrame = document.getElementById("webcastIframe");
            let cameraUrl = {{ event.live_stream.camera_src|tojson }};
            let slidesUrl = null;

            function receiveMessage(event) {
                if (event.data === 'give-me-sources') {
                    const exists = new RegExp("cern.ch$").test(event.origin);
                    console.log(exists, event.origin);
                    if (!exists) {
                        return;
                    }
                    console.log("Received callback!");
                    console.log("Sending sources to iframe");

                    myFrame.contentWindow.postMessage({slidesUrl, cameraUrl}, myFrame.src);
                }
            }

            window.addEventListener("message", receiveMessage, false);

        </script>


    {% endif %}

{% endblock %}