body,html {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'PT Sans',sans-serif;
}

.video-js,video {
  width: 100%!important;
  height: 100%!important;
}

.XHa3-dimensions.vjs-fluid{
    padding-top: 0 !important;
}