a {
  color: #4d94cd;

}

.center.text {
  text-align: center;

}

.ui.embed {
  background: transparent;

}

.white.text {
  color: #ffffff !important;

}

/**
4:3

*/

.ui.embed.classic {
  max-height: 75%;
  max-width: 75%;

}

.slides-column {
  height: 75%;

}

.ui.secondary.pointing.menu.main {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  vertical-align: middle;
  text-align: center;

}

.module--horizontal {
  width: 100%;
  height: 200px;
  overflow: hidden;

}

.description {
  max-width: 75%;

}

#mainVideoContainer video {
  visibility: visible;
  width: 100%;
  max-height: 100%;
  background-color: black;

}

video {
  max-width: 100%;
  //width: 100%;
}

.top-video-layer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 5px;
  z-index: 2;

}

.small-streams {
  z-index: 3;
  position: absolute;
  left: 20px;
  width: 300px;
  height: 200px;
  bottom: 60px;

}

.meeting-self-view {
  position: relative;
  top: 0 !important;
}

.ui-resizable-handle {
  background-color: lightblue;

}


#dev-toolbar {
  background-color: #FAA732;
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding-top: 5px;

}

body.pushable > .pusher {
  background: #1B1C1D !important;

}

.bottom-content {
  background: #ececec !important;

}

.permanent-container {
  padding-bottom: 10em !important;
  padding-top: 10em !important;

}

.event-description {
  height: 20vh;
  overflow-y: auto;

}

i.material-icons {
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  vertical-align: text-bottom;
  text-decoration: inherit;
  text-align: center;
  speak: none;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

}

.footer a {
  color: #89CBE1 !important;

}

.footer a:hover {
  color: #fff !important;

}

.indico {
  background-color: #007cac !important;

}

a.ui.button.indico {
  padding: 5px 25px;
  vertical-align: bottom;

}

.ui.fluid.card.upcoming {
  height: 100%;

}

#Carousel .ui.items > .item > .image > a > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: .125rem;
  border: none;

}

#Carousel .ui[class*="two column"].grid > .column:not(.row), .ui[class*="two column"].grid > .row > .column {
  width: 75%;

}

#Carousel .description {
  max-width: 100%;

}

.ui.text.play {
  width: auto !important;
  height: auto !important;
  text-align: center;
  font-style: normal;

}

.ui.dimmer .ui.play {
  color: rgba(255, 255, 255, .9);

}

.ui.title-play {
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0;
  text-align: left;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5em

}

.ui.play {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0;
  text-align: center;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

.ui.inverted.dimmer .ui.play, .ui.play {
  width: 2.28571429rem;
  height: 2.28571429rem;
  font-size: 1em;

}

#Carousel .image img {
  opacity: 0.7;

}

#Carousel .image a {
  color: #fff;

}

#Carousel a.header {
  color: #89CBE1;

}

.masthead h1.header {
  padding-bottom: 1em;

}

.ui.inverted.vertical.masthead.segment {
  max-width: 1280px;
  margin: 0 auto;
}

#Carousel .blue.button {
  padding: 0.915714em 1.5em;

}

@media only screen and (max-width: 767px) {

  #Carousel .image img {
    opacity: 0.5;

  }

  #Carousel .content {
    text-align: center;

  }

  .ui.title-play {
    position: absolute;
    top: 71%;
    left: 52%;
    margin: 0;
    z-index: 1000;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.1em;
    width: 90%;
    text-align: center;

  }

  .ui.play {
    position: absolute;
    top: 33%;
    left: 51%;
    margin: 0;
    z-index: 1000;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

  }

  .ui.items .item.header {
    margin: 0;

  }
}

#event-info {
  margin-top: 1em;

}

.ui.items > .item > .content > .row > .header.white-text {
  color: #fff;

}

img.ui.image.indico-info {
  display: inline;

}

.ui.secondary.inverted.pointing.menu .item.view-mode-label {
  padding-left: 0;
}

iframe{
    border-width: 0;
}

.custom-info-icon {
  cursor: pointer;

}

.overlay-item {
  width: 33.33%;
  float: left;
  position: relative;
  padding-bottom: 40px;

}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5em;
  color: white;
  z-index: 12;
  cursor: pointer;
  font-weight: bold;

}

.player-content {
  min-height: 10em;
}

.segment.player-content {
  margin: 0;
}

/*
    hidden by default
* /

.custom-title {
  display:none;

}

/*
    unless player has started
*/

.message a {
  text-decoration: underline;
}

.video-js.vjs-has-started .vjs-tech {
  pointer-events: none;
}

.video-container{
  padding-bottom:56.25%; position:relative; display:block; width: 100%
}

.iframePaella{
  position:absolute; top:0; left: 0
}