@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/admin\/main\.scss}line{font-family:\000033}}
.main-content {
  padding: 75px 30px 30px 30px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/admin\/main\.scss}line{font-family:\000037}}
  #main-sidebar {
    top: 44px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/admin\/main\.scss}line{font-family:\0000311}}
    .vertical-middle {
      vertical-align: middle; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/admin\/main\.scss}line{font-family:\0000315}}
      .main.container {
        margin-left: 4em !important;
        margin-top: 6em !important;
        margin-right: 3em !important;
        width: 70% !important; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/admin\/main\.scss}line{font-family:\0000322}}
        #images-container img {
          cursor: hand; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\000037}}
@media only screen and (max-width: 767px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\000037}}
  [class*="mobile hidden"], [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile), [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile), [class*="or lower hidden"] {
    display: none !important;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000320}}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000320}}
  [class*="mobile only"]:not(.tablet), [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet), [class*="large monitor only"]:not(.tablet),
  [class*="widescreen monitor only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000333}}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000333}}
  [class*="mobile only"]:not(.computer), [class*="tablet only"]:not(.computer),
  [class*="computer hidden"], [class*="large monitor only"]:not(.computer),
  [class*="widescreen monitor only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000346}}
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000346}}
  [class*="mobile only"]:not([class*="large monitor"]),
  [class*="tablet only"]:not([class*="large monitor"]),
  [class*="computer only"]:not([class*="large monitor"]),
  [class*="large monitor hidden"],
  [class*="widescreen monitor only"]:not([class*="large monitor"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000350}}
    .main-content {
      padding-left: 300px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000364}}
@media only screen and (min-width: 1920px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000364}}
  [class*="mobile only"]:not([class*="widescreen monitor"]),
  [class*="tablet only"]:not([class*="widescreen monitor"]),
  [class*="computer only"]:not([class*="widescreen monitor"]),
  [class*="large monitor only"]:not([class*="widescreen monitor"]),
  [class*="widescreen monitor hidden"], [class*="widescreen monitor or lower hidden"] {
    display: none !important;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/app-root\/src\/app\/static-files\/css\/media-queries\.scss}line{font-family:\0000368}}
    .main-content {
      padding-left: 300px;   }
}
