{% extends "admin/base.html" %}
{% from "admin/macros/misc.html" import render_link_card %}
{% set active_page = "home" %}
{% set main_page = "admin" %}
{% block content %}
    <div class="ui one column grid">
        <div class="row">
            <h1 class="ui header">Webcast Admin Panel</h1>
        </div>
        <div class="row">
            <h2 class="ui header">Events</h2>
        </div>
        <div class="row">
            <div class="ui link cards">
                <div class="ui four stackable cards">
                    {{ render_link_card(url_for('admin.events.events_live'), 'Live', '<i class="massive ui toggle right icon"></i>') }}
                    {{ render_link_card(url_for('admin.events.events_upcoming'), 'Upcoming', '<i class="massive ui calendar icon"></i>') }}
                    {{ render_link_card(url_for('admin.events.events_recent'), 'Recent', '<i class="massive ui film icon"></i>') }}
                    {{ render_link_card(url_for('admin.events.events_archived'), 'Archived', '<i class="massive ui archive icon"></i>') }}
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="ui header">Permanent Streams</h2>
        </div>
        <div class="row">
            <div class="ui link cards">
                <div class="ui two stackable cards">
                    {{ render_link_card(url_for('admin.streams.permanent_streams_home'), 'Permanent Streams', '<i class="massive ui video camera icon"></i>') }}
                    {{ render_link_card(url_for('admin.streams.categories'), 'Categories', '<i class="massive ui tags icon"></i>') }}
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="ui header">Authorization</h2>
        </div>
        <div class="row">
            <div class="ui link cards">
                <div class="ui one stackable cards">
                    {{ render_link_card(url_for('admin.authorization.audiences'), 'Audiences', '<i class="massive ui lock icon"></i>') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}