body {
  margin: 0;
  background-color: #f9f9f9;
}

/* a{
  color: #0033A0 !important;
} */
a{
  color: #0033A0;
}

.ui.button.paddedButton{
  margin: 20px 0;
}

.ui.dropdown.multiple{
  min-height: 60px;
}

.description.paddedDescription{
  margin-top: 10px;
}

.ui.header.smallMargin{
  margin: 5px;
  display: block;
}

.ui.inverted.menu.paddedTopMenu{
  margin-top: 40px;
}

.ui.container .ui.inverted.menu.yellowMenu{
  background-color: #fbbd08;
  padding: 0;
  margin: 0
}
.ui.container .ui.inverted.menu.yellowMenu .item{
  color: #000 !important;
}

.ui.container .ui.inverted.menu.blueMenu{
  background-color: #2185d0;
  padding: 0;
  margin: 0
}

.ui.container .ui.inverted.menu.blueMenu.paddedApp{
  margin-top: 40px
}

.ui.inverted.segment.App {
  margin-top: 40px
}

.paddedApp{
  margin-top: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel{
  position: relative;
  display: block;
}

.carousel__next-button{
    position: absolute;
    top: 50%;
    display: block;
    width: 44px;
    height: 44px;
    padding: 5px 3px;
    transition: background-color .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, 0.15);
    right: 5px;
}

.carousel__back-button{
  position: absolute;
  top: 50%;
  display: block;
  width: 44px;
  height: 44px;
  padding: 5px 0px;
  transition: background-color .3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.15)
}

.ui.basic.icon.inverted.button.sliderDot{
  box-shadow: none !important;
}

.ui.large.inverted.mainMenu.menu{
  border: 0;
}

.ui.primary.button.cernPrimary, .ui.primary.buttons .button.cernPrimary {
  background-color: #0033A0;
}

.ui .item .content .extra.accExtra{
  color: #575757;
}

.ui .carousel h2.ui.inverted.header.live-header{
  font-size: 2em;;
  margin: 0 3em 1em 3em;
}

.live-header-link{
  cursor: pointer;
  /* text-decoration: underline; */
  margin: 0 3em 1em 3em;
}

.slideText{
  font-size: 1.3em;
  margin: 0em 3em;
  line-height: 1.3em;
}

.sliderButton{
  margin-top: 1em;
}

.video-container{
  padding-bottom:56.25%; position:relative; display:block; width: 100%
}

.iframePaella{
  position:absolute; top:0; left: 0
}

.ui.list>.item>i.imaged{
  display: inline-block;
}

.ui.list>.item>i.imaged+.content{
  display: inline-block;
}

img.ui.image.indicoImageLink{
  display: inline-block;
}

.ui.horizontal.list>.item>.icon.imaged+.content{
  display: inline-block;
  width: auto;
}

.readMoreParagraph{
  margin-top: 1em;
}

.ui.primary.button.cernPrimary, .ui.primary.buttons .button.cernPrimary{
  color: #fff !important;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui){
  color: #fff !important;
}

.ui.container.oldWebBannerContainer{
  width: 100% !important;
  margin: 0 !important;
}

.ui.container .ui.inverted.segment .webcast-abstract a{
  color: #09c;
}