{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_multi_select_field %}
{% set active_page = "events_add" %}
{% set main_page = "events" %}
{% block content %}

    <div class="ui stackable one column grid">

    <div class="column">
        <h1>Add new Audience</h1>

        <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin.authorization.audiences_add') }}"
              class="ui form">
            <div class="ui stackable two column grid">
                {{ form.csrf_token }}
                <div class="column">
                    {{ render_text_field(form.name) }}
                    {{ render_text_field(form.default_application) }}

                    {{ render_multi_select_field(form.authorized_users) }}

                    <button class="ui green button" type="submit">Save</button>


                </div>
                <div class="column">
                </div>
            </div>

        </form>
    </div>





{% endblock %}

{% block extra_javascripts %}

    <script type="text/javascript">
        $('.ui.dropdown').dropdown();
    </script>

{% endblock %}