{% extends "admin/base.html" %}
{% set active_page = "events_audiences" %}
{% set main_page = "events" %}
{% block content %}

    <div class="ui stackable one column grid">

        <div class="column">

            <h1 class="ui header">
                <i class="group icon"></i>
                <div class="content">
                   Audiences
                </div>
            </h1>


        </div>

        <div class="column">

            <table class="ui celled table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Authorized Users</th>
                    <th>Default Application name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for audience in audiences %}
                    <tr>
                        <td>{{ audience.id }}</td>
                        <td>{{ audience.name }}</td>
                        <td>
                            {% for user in audience.authorized_users %}
                                <div class="ui label">{{ user.name }}</div>
                            {% endfor %}
                        </td>
                        <td>{{ audience.default_application }}</td>
                        <td>
                            <a href="{{ url_for('admin.authorization.audiences_edit', audience_id=audience.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui red basic mini icon button delete-audience-button-{{ audience.id }}"
                                    data-audience="{{ audience.id }}">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5">
                        <a href="{{ url_for('admin.authorization.audiences_add') }}"
                           class="ui right floated small green icon button">
                            <i class="add icon"></i> Add new Audience
                        </a>
                    </th>
                </tr>

                </tfoot>
            </table>

        </div>
    </div>

    <div class="ui stackable one column grid">

        <div class="column">
            <h2 class="ui header">
                <i class="user icon"></i>
                <div class="content">
                    Authorized Users
                </div>
            </h2>

        </div>

        <div class="column">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for authorized_user in authorized_users %}
                    <tr>
                        <td>{{ authorized_user.id }}</td>
                        <td>{{ authorized_user.name }}</td>
                        <td>
                            <a href="{{ url_for('admin.authorization.authorized_users_edit', authorized_user_id=authorized_user.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui red basic mini icon button delete-authorized_user-button-{{ authorized_user.id }}">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">
                        <a href="{{ url_for('admin.authorization.authorized_users_add') }}"
                           class="ui right floated small green icon button">
                            <i class="add icon"></i> Add new Authorized User
                        </a>
                    </th>
                </tr>

                </tfoot>
            </table>

        </div>

    </div>

    {# MODALS #}
    {#  Audiences  #}
    {% for audience in audiences %}
        <div class="ui modal delete-audience-{{ audience.id }}">
            <i class="close icon"></i>
            <div class="header">
                Delete audience "{{ audience.id }}"
            </div>
            <div class="content">
                <div class="description">
                    <form id="delete-audience-{{ audience.id }}-form"
                          action="{{ url_for('admin.authorization.audiences_delete', audience_id=audience.id) }}"
                          method="POST">
                        <input type="hidden" name="delete_id" id="delete_id" value="{{ audience.id }}">
                        Are you sure you want to delete the selected audience?
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit" form="delete-audience-{{ audience.id }}-form" class="ui positive red button">
                    Delete audience
                </button>
            </div>
        </div>
    {% endfor %}

    {#  Authorized Users  #}
    {% for authorized_user in authorized_users %}
        <div class="ui modal delete-authorized_user-{{ authorized_user.id }}">
            <i class="close icon"></i>
            <div class="header">
                Delete Authorized User "{{ authorized_user.id }}"
            </div>
            <div class="content">
                <div class="description">
                    <form id="delete-authorized_user-{{ authorized_user.id }}-form"
                          action="{{ url_for('admin.authorization.authorized_users_delete', authorized_user_id=authorized_user.id) }}"
                          method="POST">
                        <input type="hidden" name="delete_id" id="delete_id" value="{{ authorized_user.id }}">
                        Are you sure you want to delete the selected authorized user?
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit" form="delete-authorized_user-{{ authorized_user.id }}-form"
                        class="ui positive red button">
                    Delete authorized user
                </button>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        {% for audience in audiences %}
            $(".delete-audience-button-{{ audience.id }}").click(function () {
                $(".delete-audience-{{ audience.id }}").modal('show');
            });
        {% endfor %}

        {% for authorized_user in authorized_users %}
            $(".delete-authorized_user-button-{{ authorized_user.id }}").click(function () {
                $(".delete-authorized_user-{{ authorized_user.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock %}