{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% set active_page = "authorized_users_add" %}
{% set main_page = "events_audiences" %}
{% block content %}

    <div class="ui stackable one column grid">

        <div class="column">

            <h1>Add new Authorized User</h1>

            <form method="POST" enctype="multipart/form-data"
                  action="{{ url_for('admin.authorization.authorized_users_add') }}"
                  class="ui form">
                <div class="ui stackable two column grid">
                    {{ form.csrf_token }}
                    <div class="column">
                        {{ render_text_field(form.name) }}
                        <button class="ui green button" type="submit">Save</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extra_javascripts %}

    <script type="text/javascript">

    </script>

{% endblock %}