{% macro render_slider_event(event, live_status) %}


    {% if event.default_img or event.custom_img %}
        <div class="image">
            {% if event.custom_img and not event.use_default_img %}
                <img src="{{ event.custom_img }}">
            {% elif event.default_img %}
                <img src="{{ event.default_img }}">
            {% endif %}
            <div class="ui text title-play mobile only">{{ event.title }}</div>
            {% if event.status == live_status %}
                <div class="ui text play"><a href="{{ url_for('users.events_details', event_id=event.id) }}"><i
                        class="huge video play icon"></i></a></div>
            {% endif %}
            <p></p>
        </div>
    {% endif %}
    <div class="content">
        <p><a href="{{ url_for('users.events_details', event_id=event.id) }}" class="ui header">{{ event.title }}</a>
            {% if event.is_protected or event.is_restricted() %}
                <span class="content"><i class="ui inverted big lock icon"></i></span>
            {% endif %}
        </p>
        <div class="meta"><span class="white text"><i
                class="clock icon"></i> {{ event.get_formated_date() }} ({{ event.timezone.value }})</span>
            {% if event.speakers %}
                <span class="white text cinema"> by {{ event.speakers }}</span>
            {% endif %}
        </div>
        <div class="white text description mobile hidden">
            {% if event.audience.default_application != 'atlas' and event.audience.default_application != 'cms' %}
                <p>{{ event.abstract|striptags | truncate(300) }}</p>
            {% endif %}
        </div>
        <div class="extra mobile hidden">
            <a class="ui small indico button"
               href="{{ event.link }}">
                {% if event.link_label %}
                    {{ event.link_label }}
                {% else %}
                    <img src="{{ url_for('static', filename='images/logo_indico_bw.png') }}"/>
                {% endif %}
            </a>
            <a class="ui small blue button"
               href="{{ url_for('users.utils.get_ical', event_id=event.id) }}"><i
                    class="calendar icon"></i> Add to your calendar</a>
        </div>
    </div>
{% endmacro %}

{% macro render_carousel(live_events=None, next_live_events=None, live_status=None) %}


    <div class="module module--horizontal">
        <div id="Carousel" class="glide">
            {% if live_events|length > 1 %}
                <div class="glide__arrows">
                    <button class="glide__arrow prev mobile hidden" data-glide-dir="<"><i class="angle left icon"></i>
                    </button>
                    <button class="glide__arrow next mobile hidden" data-glide-dir=">"><i class="angle right icon"></i>
                    </button>
                </div>
            {% endif %}

            {% if live_events|length > 1 %}
                <div class="glide__bullets"></div>
            {% endif %}
            <div class="ui glide__wrapper">
                <div class="ui glide__track">
                    {% if live_events|length == 0 and  next_live_events|length > 0 %}
                        <li class="item glide__slide">
                            <div class="ui two column centered grid">
                                <div class="column">
                                    <div class="ui items">
                                        <div class="item">
                                            {{ render_slider_event(next_live_events[0], live_status) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        {% for event in live_events %}
                            <div class="glide__slide" data-glide-autoplay="60000">
                                <div class="ui two column centered grid">
                                    <div class="column">
                                        <div class="ui items">
                                            <div class="item">
                                                {{ render_slider_event(event, live_status) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}