{% macro render_embed_link(event) %}
    <span class="left floated activating element">
        <a href="#" class=""><i class="share icon"></i> Embed</a>
    </span>
    <div class="ui fluid popup top left transition hidden">
        <div class="header">Share this event</div>
        <div class="content">
            <p>Link to this event:</p>
            <div class="ui mini form">
                <div class="field">
                    <input type="text"value="{{ url_root }}{{ event.get_event_url() }}">
                </div>
            </div>
            <p>Social networks:</p>
            <p>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_root }}{{ event.get_event_url() }}&t={{ event.title }}"
                   onclick="openSocialShareWindow(this.href);return false;"
                   target="_blank"
                   class="mini ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </a>
                <a href="https://twitter.com/share?url={{ url_root }}{{ event.get_event_url() }}&via=cern&text={{ event.title }}"
                   target="_blank"
                   onclick="openSocialShareWindow(this.href);return false;"
                   class="mini ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </a>
                <a href="https://plus.google.com/share?url={{ event.get_event_url() }}"
                   target="_blank"
                   onclick="openSocialShareWindow(this.href);return false;"
                   class="mini ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </a>
            </p>
        </div>
    </div>
{% endmacro %}