{% macro render_view_modes_selector(event, active_page) %}
    <div class="ui small secondary inverted pointing menu main">
        <span class="item mobile hidden view-mode-label">View mode:</span>
        {% if event.live_stream.type != 'camera' %}
            <a href="{{ url_for('users.events_details', event_id=event.id) if event else '' }}"
               class="{{ 'active' if 'slides_view' == active_page else '' }} item"><i
                    class="material-icons">slideshow</i> Slides
            </a>
        {% endif %}

        <a href="{{ url_for('users.events_details_camera', event_id=event.id) if event else '' }}"
           class="{{ 'active' if 'camera_view' == active_page else '' }} item"><i
                class="material-icons">videocam</i> Camera</a>
        {% if event.live_stream.type != 'camera' %}
            <a href="{{ url_for('users.events_details_camera_slides', event_id=event.id) if event else '' }}"
               class="{{ 'active' if 'events_details' == active_page else '' }} item mobile hidden "
            ><i class="material-icons">live_tv</i> Camera & Slides</a>
        {% endif %}

    </div>
{% endmacro %}

{% macro render_finished_message() %}
    <div class="ui center aligned segment">
        <h4>The event has already finished.</h4>
    </div>
{% endmacro %}

{% macro render_event_not_started_message(formated_date, timezone) %}
    <div class="ui center aligned segment">
        <h4>The event will start {{ formated_date }} ({{ timezone }})</h4>
    </div>
{% endmacro %}

{% macro render_event_not_authorized_message() %}
    <div class="ui equal width padded grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui center aligned segment">
                    <h4>You are not authorized to view this event or your session has expired. Try to <a
                            href="{{ url_for('cern_openid.login') }}" title="Sign in">sign in again</a>. If you think
                        this is a mistake, please contact us
                        at <a title="Service Desk"
                              href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=webcast&s=webcast">Service
                            Desk</a>.</h4>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_event_footer(event) %}
    <div id="event-info">
        <div class="ui inverted pointing secondary menu">
            <a class="active item video-foot" data-tab="foot-first"><i class="book icon"></i>
                Abstract</a>
            <a class="item video-foot" data-tab="foot-second"><i class="share icon"></i> Share</a>
        </div>
        <div class="ui active tab inverted basic segment" data-tab="foot-first">
            {% if event.audience.default_application != 'atlas' and event.audience.default_application != 'cms' %}
                {% if event.abstract %}
                    <div id="foot-abstract">
                        <p>{{ event.abstract| safe }}</p>
                    </div>
                {% else %}
                    <p>This event doesn't have a description</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="ui tab inverted basic segment" data-tab="foot-second">
            <div class="ui inverted form">
                <div class="inline field">
                    <label>Share on:</label>
                    {% set facebook_url = "https://www.facebook.com/sharer/sharer.php?u=" + event.get_event_url() +"&t=" + event.title %}
                    {% set twitter_url = "https://twitter.com/share?url=" + event.get_event_url() + "&via=cern&text=" + event.title %}
                    {% set google_url = "https://plus.google.com/share?url=" + event.get_event_url() %}

                    <a href="{{ facebook_url }}"
                       onclick="openSocialShareWindow(this.href);return false;"
                       target="_blank"
                       class="ui facebook icon button">
                        <i class="facebook icon"></i> Facebook
                    </a>
                    <a href="{{ twitter_url }}"
                       target="_blank"
                       onclick="openSocialShareWindow(this.href);return false;"
                       class="ui twitter icon button">
                        <i class="twitter icon"></i> Twitter
                    </a>
                    <a href="{{ google_url }}"
                       target="_blank"
                       onclick="openSocialShareWindow(this.href);return false;"
                       class="ui google plus icon button">
                        <i class="google plus icon"></i> Google
                    </a>
                    <button class="ui icon button embed-button">
                        <i class="code icon"></i> Embed
                    </button>
                </div>

                <div class="inline field">
                    <label>Event Link: </label>
                    <input type="text" value="{{ event.get_event_url() }}">
                </div>
            </div>

            <div class="ui modal embed-modal">
                <i class="close icon"></i>
                <div class="header">
                    Embed code(s):
                </div>
                <div class="content">
                    <div class="ui form">
                        <div class="field">
                            <input type="text" value="{{ event.get_event_embed_code() }}">
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui positive button">Close</div>
                </div>
            </div>

        </div>
    </div>
{% endmacro %}

{% macro render_event_sidebar(event) %}
    <div class="ui inverted pointing secondary menu">
        <a class="active item" data-tab="info-first"><i class="info icon"></i> Information</a>
    </div>
    <div class="ui active tab inverted basic segment" data-tab="info-first">
        <p><i class="material-icons">person</i> Speaker: {{ event.speakers }}</p>
        <p><i class="material-icons">event_seat</i> Room: {{ event.room }}</p>
        <p><i class="material-icons">link</i> Event link: <a href="{{ event.link }}" target="_blank"
                                                             title="{{ event.title }}"><img
                class="ui mini image indico-info" src="/static-files/images/logo_indico_bw.png"></a></p>
    </div>
{% endmacro %}