{% macro render_share_link(event, floated=True, position='top left', class='activating element') %}
    {% if floated %}
        {% set floated = 'right floated' %}
    {% else %}
        {% set floated = '' %}
    {% endif %}
    <span class="{{ floated }} {{ class }}">
        <a href="#share-{{ event.id }}" class="" id="share-{{ event.id }}"><i class="share icon"></i> Share</a>
    </span>
    <div class="ui fluid popup {{ position }} transition hidden">
        <div class="header">Share this event</div>
        <div class="content">
            <p>Link to this event:</p>
            <div class="ui mini form">
                <div class="field">
                    <input type="text" value="{{ url_root }}{{ event.get_event_url() }}">
                </div>
            </div>
            <p>Social networks:</p>
            {% set facebook_url = "https://www.facebook.com/sharer/sharer.php?u=" + event.get_event_url() +"&t=" + event.title %}
            {% set twitter_url = "https://twitter.com/share?url=" + event.get_event_url() + "&via=cern&text=" + event.title %}
            {% set google_url = "https://plus.google.com/share?url=" + event.get_event_url() %}
            <p>
                <a href="{{ facebook_url }}"
                   onclick="openSocialShareWindow(this.href);return false;"
                   target="_blank"
                   class="mini ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </a>
                <a href="{{ twitter_url }}"
                   target="_blank"
                   onclick="openSocialShareWindow(this.href);return false;"
                   class="mini ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </a>
                <a href="{{ google_url }}"
                   target="_blank"
                   onclick="openSocialShareWindow(this.href);return false;"
                   class="mini ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </a>
            </p>
        </div>
    </div>
{% endmacro %}