{% macro render_link_card(href, title, description) %}
    <a class="ui card" href="{{ href }}">
        <div class="content">
            <div class="header">{{ title }}</div>
            <div class="description">
                <p>{{ description|safe }}</p>
            </div>
        </div>
    </a>
{% endmacro %}


{% macro render_default_images_modal(default_images_folders) %}
    <div id="default-images-modal" class="ui long modal">
        <i class="close icon"></i>
        <div class="header">
            Default image selector
        </div>
        <div class="content">
            <div class="description">
                <div id="default-image-folder-selector" class="ui fluid normal dropdown">
                    <input type="hidden" name="default-image-folder">
                    <i class="dropdown icon"></i>
                    <div class="default text">Default image folder</div>
                    <div class="menu">
                        {% for folder in default_images_folders %}
                            <div class="item" data-value="{{ folder }}">{{ folder }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div id="images-container" class="ui small images"></div>
            </div>
        </div>
    </div>
{% endmacro %}