{% extends "users/base.html" %}
{#{% from "users/macros/share.html" import render_share_link %}#}
{#{% from "users/macros/embed.html" import render_embed_link %}#}
{#{% from "users/macros/carousel.html" import render_carousel %}#}
{#{% set active_page = "live" %}#}
{#{% set main_page = "live" %}#}
{##}
{#{% block title %}CERN Webcast Website | Home{% endblock %}#}
{##}
{#{% block main_header %}#}
{##}
{#{% endblock %}#}

{% block upper_content %}
    <div class="ui two column centered grid">
        <div class="inverted column">
            <p><img class="ui centered medium circular image"
                    src="http://cds.cern.ch/record/2108952/files/Atlas%20lead%20ion%20collision%20event%201.jpg?subformat=icon-1440"/>
            </p>
            <h1 class="ui centered inverted header">404 - Not found</h1>
            <p>The page you are looking for was not found on this website, it may have been moved or removed.</p>
            <p>We propose you the following solutions:
            <ul>
                <li>Trry to navigate directly to the page you want to access.</li>
                <li>Check that the spelling is right.</li>
            </ul>
            <p>If you think this is a mistake, you can open a ticket on the <a title="Cern Service Desk"
                                                                               href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=webcast&s=webcast">Service
                Desk</a>.</p>
            <p>You can also navigate using the upper and bottom links to find what you need.</p>
        </div>
    </div>
{% endblock %}

{% block bottom_content %}
    <p></p>
{% endblock %}

{% block extra_javascripts %}
    <script>

        let carousel = $('#Carousel').glide({
            type: 'carousel',
            startAt: 1,
            touchDistance: 2,
            arrowsWrapperClass: 'slider-arrows',
            arrowRightText: '',
            arrowLeftText: ''
        });

        $('.activating.element')
            .popup({
                on: 'click',
                inline: true
            })
        ;

        $('.activating.element-live')
            .popup({
                on: 'click',
                inline: false,
                position: 'right center',
            })
        ;

    </script>
{% endblock %}