<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    {% if payload.error %}
      Login failed: <code>{{ payload.error }}</code>
    {% else %}
      Login successful! You may now close this window.
    {% endif %}
    <script>
      if (window.opener) {
        {% if referer_url is not none %}
          window.opener.postMessage({{ payload|tojson }}, {{referer_url|tojson}});
        {% else %}
          window.opener.postMessage({{ payload|tojson }}, window.location.origin);
        {% endif %}
      }
      window.close();
    </script>
  </body>
</html>
