{% extends "admin/base.html" %}
{% set active_page = "events_archived" %}
{% set main_page = "events" %}
{% block content %}
    <div class="column">
        <div class="row">
            <h1 class="ui header">
                <i class="archive icon"></i>
                <div class="content">
                    Archived Events
                </div>
            </h1>
        </div>
    </div>
    <div class="column">
        <div class="ui striped fixed very compact table">
            <table class="ui striped fixed very compact table">
                <thead>
                <tr>
                    <th></th>
                    <th>Event ID</th>
                    <th>Indico ID</th>
                    <th>Title</th>
                    <th>Room</th>
                    <th>Date</th>
                    <th>Audience</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for event in events %}
                    <tr>
                        <td>
                            <form action="{{ url_for('admin.events.restore_event', event_id=event.id) }}"
                                  method="POST">
                                <button class="ui mini icon button" type="submit"><i
                                        class="upload icon"></i> Restore
                                </button>
                            </form>
                        </td>
                        <td><a href="/event/i{{ event.indico_id }}"
                               title="Event page">{{ event.id }}</a></td>
                        <td><a href="{{ event.link }}" title="Indico">{{ event.indico_id }}</a></td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.room }}</td>
                        <td>{{ event.start_date }}</td>
                        <td>{{ event.audience.name }}</td>
                        <td>
                            <a href="{{ url_for('admin.events.upcoming_event_edit', event_id=event.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui red basic mini icon button delete-event-button-{{ event.id }}">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>

                </tr>

                </tfoot>
            </table>
        </div>
    </div>

    {# MODALS #}
    {#  Events  #}
    {% for event in events %}
        <div class="ui modal delete-event-{{ event.id }}">
            <i class="close icon"></i>
            <div class="header">
                Delete event "#{{ event.id }}"
            </div>
            <div class="content">
                <div class="description">
                    <form id="delete-event-{{ event.id }}-form"
                          action="{{ url_for('admin.events.event_delete', event_id=event.id) }}" method="POST">
                        <input type="hidden" name="delete_id" id="delete_id" value="{{ event.id }}">
                        <input type=hidden value="{{ url_for('admin.events.events_archived') }}" name=next>
                        Are you sure you want to delete the selected event? All It's streams will be also deleted.
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit" form="delete-event-{{ event.id }}-form" class="ui positive red button">
                    Delete event
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        {% for event in events %}
            $(".delete-event-button-{{ event.id }}").click(function () {
                $(".delete-event-{{ event.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock %}