{% extends "admin/base.html" %}
{% from "admin/macros/misc.html" import render_link_card %}
{% set active_page = "events" %}
{% set main_page = "admin" %}
{% block content %}
<div class="ui one column grid">
        <div class="row">
            <h1>Events</h1>
        </div>
        <div class="row">
            <div class="ui link cards">
                <div class="ui four stackable cards">
                    {{ render_link_card(url_for('admin.events.events_live'), 'Live', '<i class="massive ui toggle right icon"></i>') }}
                    {{ render_link_card(url_for('admin.events.events_upcoming'), 'Upcoming', '<i class="massive ui calendar icon"></i>') }}
                    {{ render_link_card(url_for('admin.events.events_recent'), 'Recent', '<i class="massive ui film icon"></i>') }}
                    {{ render_link_card(url_for('admin.events.events_archived'), 'Archived', '<i class="massive ui archive icon"></i>') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}