{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_multi_select_field %}
{% from "admin/macros/forms.html" import render_default_image_field %}
{% from "admin/macros/forms.html" import render_cds_record_form %}

{% from "admin/macros/misc.html" import render_default_images_modal %}

{% from "admin/macros/_live_stream_tabs/_camera_slides_tab.html" import render_camera_slides_tab %}
{% from "admin/macros/_live_stream_tabs/_existing_camera_slides_tab.html" import render_existing_camera_slides_tab %}
{% set active_page = "events_edit" %}
{% set main_page = "events" %}
{% block content %}

    <div class="column">
        <form id="event-form" method="POST" enctype="multipart/form-data"
              action="" class="ui form">

            <div class="column">
                <div class="row">
                    {% if go_live %}
                        {{ form.save_and_go_live(class_="ui right floated blue button", id="event-form-go-live-button") }}
                        {{ form.save_before_go_live(class_="ui right floated green button", id="event-form-button") }}

                        <a href="{{ url_for('admin.events.upcoming_event_edit_preview', event_id=event.id) }}"
                           target="_blank"
                           class="ui right floated button"><i class="ui eye icon"></i> Preview</a>

                        <a href="/view/{{ event.random_string }}/{{event.indico_id }}"
                           target="_blank"
                           class="ui right floated yellow button"><i class="ui eye icon"></i> NEW Preview</a>

                    {% else %}
                        <button class="ui right floated green button" type="submit"
                                id="event-form-button">Save
                        </button>
                    {% endif %}

                    {% if event_type == 'upcoming' and not go_live %}
                        <form method="POST"
                              action="{{ url_for('admin.events.fetch_upcoming_from_indico_by_id', event_id=event.id) }}">
                            <button class="ui right floated button">Fetch event from Indico</button>
                        </form>
                    {% endif %}
                    <h1 class="ui header">
                        {% if go_live %}
                            <span>Go Live</span>
                        {% else %}
                            Edit
                        {% endif %}

                        {{ event_type }} Event (#{{ event.id }})
                    </h1>
                </div>
                <div class="ui top attached tabular menu main-menu">
                    <a class="active item" data-tab="first" href="#event-details-tab"><i class="info icon"></i> Event
                        Details</a>
                    {% for stream_form in streams_forms %}
                        <a class="item" id="existing-tab-stream-{{ stream_form.stream_id }}"
                           data-tab="existing-stream-{{ stream_form.stream_id }}"
                           href="#stream-{{ stream_form.stream_id }}-tab">
                            {% if stream_form.stream_type == 'camera' %}
                                <i class="camera icon"></i> Camera
                            {% elif stream_form.stream_type == 'camera_slides' %}
                                <i class="video camera icon"></i> Camera & Slides
                            {% else %}
                                <i class="youtube icon"></i> Embed
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>

                <div class="ui bottom attached active tab segment" data-tab="first" id="event-details-tab">
                    <div class="ui stackable two column grid">
                        {{ form.csrf_token }}

                        {% if go_live %}
                            <input type="hidden" name="go_live" value="true">
                        {% endif %}

                        <div class="column">

                            <h4 class="ui horizontal divider header">
                                Indico
                            </h4>
                            {{ render_text_field(form.indico_id) }}
                            {{ render_text_field(form.indico_category_id) }}

                            <h4 class="ui horizontal divider header">
                                Details
                            </h4>

                            {{ render_text_field(form.title) }}
                            {{ render_text_field(form.speakers) }}
                            {{ render_text_field(form.abstract) }}
                            {{ render_text_field(form.room) }}
                            {{ render_text_field(form.link) }}
                            {{ render_text_field(form.link_label) }}
                            {{ render_text_field(form.display_message) }}
                            {{ render_text_field(form.extra_html) }}
                        </div>
                        <div class="column">
                            <h4 class="ui horizontal divider header">
                                Authorization
                            </h4>
                            {{ render_select_field(form.audience) }}
                            {{ render_multi_select_field(form.authorized_users) }}

                            <div class="three wide fields">
                                {{ render_toggle_field(form.is_sharable) }}
                                {{ render_toggle_field(form.is_embeddable) }}
                                {{ render_toggle_field(form.is_visible) }}
                            </div>

                            <div class="three wide fields">
                                {{ render_toggle_field(form.is_protected) }}
                            </div>

                            <h4 class="ui horizontal divider header">
                                Date
                            </h4>

                            {{ render_select_field(form.timezone) }}

                            <div class="two wide fields">
                                {{ render_text_field(form.start_date) }}
                            </div>

                            <div class="two wide fields">
                                {{ render_text_field(form.end_date) }}
                            </div>

                            {{ render_image_field(form.custom_img, default_img_selected=event.custom_img) }}
                            {{ render_default_image_field(form.default_img, default_img_selected=event.default_img) }}
                            {{ render_toggle_field(form.use_default_img) }}

                            <input type="hidden" name="number-of-streams" id="number-of-streams" value="0">
                            <input type="hidden" name="max-number-of-streams" id="max-number-of-streams" value="0">

                        </div>
                    </div>
                </div>
                {% for stream_form in streams_forms %}
                    <div class="ui bottom attached tab segment" data-tab="existing-stream-{{ stream_form.stream_id }}"
                         id="stream-{{ stream_form.stream_id }}-tab">
                        {{ render_existing_camera_slides_tab(form=stream_form, event=event, stream=event.live_stream) }}
                    </div>
                {% endfor %}

            </div>
        </form>

    </div>


    {# MODALS #}
    {#  Audiences  #}
    <div class="ui modal delete-live_stream-{{ event.live_stream.id }}">
        <i class="close icon"></i>
        <div class="header">
            Delete stream "{{ event.live_stream.id }}"
        </div>
        <div class="content">
            <div class="description">
                <form id="delete-live_stream-{{ event.live_stream.id }}-form"
                      action="{{ url_for('admin.events.delete_live_stream', live_stream_id=event.live_stream.id) }}"
                      method="POST">
                    <input type="hidden" name="delete_id" id="delete_id" value="{{ event.live_stream.id }}">
                    Are you sure you want to delete the selected live stream?
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui deny button">Cancel</div>
            <button type="submit" form="delete-live_stream-{{ event.live_stream.id }}-form"
                    class="ui positive red button">
                Delete live stream
            </button>
        </div>
    </div>

    {{ render_default_images_modal(default_images_folders) }}


{% endblock %}

{% block extra_javascripts %}

    {#  We load the tabs this way so they can be get by ID for the dynamic tabs Javascript creation.  #}
    {{ render_camera_slides_tab() }}

    <script type="text/javascript">

        {# Delete modals initialization #}
        $(".delete-live_stream-button-{{ event.live_stream.id }}").click(function () {
            $(".delete-live_stream-{{ event.live_stream.id }}").modal('show');
        });

        let wowzaEdgeUrl = '{{ wowza_edge_url }}';
        loadSetDefaultStreamAttributes(wowzaEdgeUrl);

        loadFetchCameraSlidesButtons('{{ url_for('admin.events._fetch_camera_slides_smil') }}');

        loadDefaultImagesActions('{{ url_for('admin._get_images_path') }}');

        {% for stream_form in streams_forms %}
            loadSmilFieldSyncrhonization({{ stream_form.stream_id }}, 'camera');
            loadSmilFieldSyncrhonization({{ stream_form.stream_id }}, 'slides');
        {% endfor %}


    </script>

{% endblock %}