{% from "admin/macros/forms.html" import render_toggle_field %}
{% extends "admin/base.html" %}
{% set active_page = "events_live" %}
{% set main_page = "events" %}
{% block content %}

    <div class="column">
        <div class="row">
            <h1 class="ui header">
                <i class="toggle right icon"></i>
                <div class="content">
                    Events Live
                </div>
            </h1>
        </div>
    </div>

    <div class="column">
        <table class="ui striped fixed very compact table">
            <thead>
            <tr>
                <th></th>
                <th>Indico ID</th>
                <th>Event ID</th>
                <th>Title</th>
                <th>Room</th>
                <th>Date</th>
                <th>Audience</th>
                <th>Visibility</th>
                <th>Follow up</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for event in events %}
                <tr>
                    <td>
                        <button class="ui mini icon button unpublish-event-button-{{ event.id }}" type="submit"><i
                                class="download icon"></i> Unpublish
                        </button>
                    </td>
                    <td><a href="{{ event.link }}" title="Indico">{{ event.indico_id }}</a></td>
                    <td><a href="/event/i{{ event.indico_id }}"
                           title="Event page">{{ event.id }}</a></td>
                    <td>{{ event.title | url_decode }}</td>
                    <td>{{ event.room }}</td>
                    <td>{{ event.start_date }}</td>
                    <td>{{ event.audience.name }}</td>
                    <td><a href="{{ url_for('admin.events.toggle_visibility', event_id=event.id, event_type='live') }}"
                           class="{% if event.is_visible %}green{% else %}red{% endif %} ui mini icon button">
                        {% if event.is_visible %}Visible{% else %}Not visible{% endif %}
                    </a>
                    </td>
                    <td><a href="{{ url_for('admin.events.toggle_follow_up', event_id=event.id) }}"
                           class="{% if event.is_follow_up %}green{% else %}red{% endif %} ui mini icon button">
                        {% if event.is_follow_up %}Following{% else %}Not following{% endif %}
                    </a></td>
                    <td>
                        <a href="{{ url_for('admin.events.live_event_edit', event_id=event.id) }}"
                           class="ui mini icon button">
                            <i class="icon edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">
                    <a class="ui right floated small green icon button"
                       href="{{ url_for('admin.events.live_event_add', type='live') }}">
                        <i class="user icon"></i> Add new Live Event
                    </a>
                </th>
            </tr>

            </tfoot>
        </table>
    </div>


    {# MODALS #}
    {#  Events  #}
    {% for form in unpublish_forms %}
        <div class="ui modal unpublish-event-{{ form.event_id }}">
            <i class="close icon"></i>
            <div class="header">
                Unpublish event "#{{ form.event_id }}" with Indico ID: {{ form.indico_id }}
            </div>
            <div class="content">
                <div class="description">
                    <form id="unpublish-event-{{ form.event_id }}-form"
                          action="{{ url_for('admin.events.unpublish', event_id=form.event_id) }}" method="POST">
                        {{ form.csrf_token }}
                        <input type=hidden value="{{ url_for('admin.events.events_live') }}" name=next>
                        <p>Are you sure you want to unpublish the selected event?</p>
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit" id="unpublish-event-{{ form.event_id }}-button" class="ui positive red button ">
                    Unpublish event
                </button>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        {% for event in events %}
            $(".unpublish-event-button-{{ event.id }}").click(function () {
                $(".unpublish-event-{{ event.id }}").modal('show');
            });

            $("#unpublish-event-{{ event.id }}-button").click(function () {
                $("#unpublish-event-{{ event.id }}-form").submit();
            });
        {% endfor %}
    </script>
{% endblock %}