{% from "admin/macros/forms.html" import render_text_field %}
{% extends "admin/base.html" %}
{% set active_page = "events_upcoming" %}
{% set main_page = "events" %}
{% block content %}
    <div class="ui small modal">
        <div class="header"></div>
        <div class="content">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Fetching upcoming events from Indico...</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">

            <h1 class="ui header">
                <i class="calendar icon"></i>
                <span class="content">
                    Events upcoming
                </span>
            </h1>
        </div>
    </div>

    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                <form class="ui form" action="{{ url_for('admin.events.fetch_single_event') }}" method="POST">
                    <div class="inline fields ">
                        {{ fetch_single_event_form.csrf_token }}
                        {#                {{ fetch_single_event_form.event_id }}#}
                        {{ render_text_field(fetch_single_event_form.event_id) }}
                        <button onclick="$('.small.modal').modal('show');" class="ui button" type="submit"><i
                                class="download icon"></i> Fetch event by ID
                        </button>
                    </div>
                </form>
            </div>
            <div class="column">
                <form class="ui right floated form" action="{{ url_for('admin.events.fetch_upcoming_from_indico') }}"
                      method="POST">
                    {{ fetch_events_form.csrf_token }}
                    <button onclick="$('.small.modal').modal('show');" class="ui right floated button" type="submit"><i
                            class="download icon"></i> Re-fetch from Indico
                    </button>
                </form>
            </div>
        </div>

    </div>

    <div class="column">
        <table class="ui striped fixed very compact table">
            <thead>
            <tr>
                <th></th>
                <th>Event ID</th>
                <th>Indico ID</th>
                <th>Title</th>
                <th>Room</th>
                <th>Date</th>
                <th>Audience</th>
                <th>Visibility</th>
                <th>In Sync</th>
                <th>Follow Up</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for event in events %}
                <tr>
                    <td>
                        <a class="ui mini icon button"
                           href="{{ url_for('admin.events.upcoming_event_edit', event_id=event.id, go_live=True) }}">
                            <i class="upload icon"></i> Go Live
                        </a>
                    </td>
                    <td><a href="/event/i{{ event.indico_id }}" title="Event page">{{ event.id }}</a></td>
                    <td><a href="{{ event.link }}" title="Indico">{{ event.indico_id }}</a></td>
                    <td>{{ event.title | url_decode }}</td>
                    <td>{{ event.room }}</td>
                    <td>{{ event.start_date }}</td>
                    <td>{{ event.audience.name }}</td>
                    <td>
                        <a href="{{ url_for('admin.events.toggle_visibility', event_id=event.id, event_type='upcoming') }}"
                           class="{% if event.is_visible %}green{% else %}red{% endif %} ui mini icon button">
                            {% if event.is_visible %}Visible{% else %}Not visible{% endif %}
                        </a></td>
                    <td><a href="{{ url_for('admin.events.toggle_is_synchronized', event_id=event.id) }}"
                           class="{% if event.is_synchronized %}green{% else %}red{% endif %} ui mini icon button">
                        {% if event.is_synchronized %}In Sync{% else %}Not in Sync{% endif %}
                    </a></td>
                    <td><a href="{{ url_for('admin.events.toggle_follow_up', event_id=event.id) }}" class="{% if event.is_follow_up %}green{% else %}red{% endif %} ui mini icon button">
                        {% if event.is_follow_up %}Following{% else %}Not following{% endif %}
                    </a></td>
                    <td>
                        <a href="{{ url_for('admin.events.upcoming_event_edit', event_id=event.id) }}"
                           class="ui mini icon button">
                            <i class="icon edit"></i>
                        </a>
                        <button class="ui red basic mini icon button delete-event-button-{{ event.id }}">
                            <i class="icon delete"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <th colspan="11">
                    <a class="ui right floated small green icon button"
                       href="{{ url_for('admin.events.upcoming_event_add', type='upcoming') }}">
                        <i class="user icon"></i> Add new Upcoming Event
                    </a>
                </th>
            </tr>

            </tfoot>
        </table>
    </div>

    {# MODALS #}
    {#  Events  #}
    {% for event in events %}
        <div class="ui modal delete-event-{{ event.id }}">
            <i class="close icon"></i>
            <div class="header">
                Delete event "#{{ event.id }}"
            </div>
            <div class="content">
                <div class="description">
                    <form id="delete-event-{{ event.id }}-form"
                          action="{{ url_for('admin.events.event_delete', event_id=event.id) }}" method="POST">
                        <input type="hidden" name="delete_id" id="delete_id" value="{{ event.id }}">
                        <input type=hidden value="{{ url_for('admin.events.events_upcoming') }}" name=next>
                        Are you sure you want to delete the selected event? All It's streams will be also deleted.
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit" form="delete-event-{{ event.id }}-form" class="ui positive red button">
                    Delete event
                </button>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extra_javascripts %}
    <script type="text/javascript">
        {% for event in events %}
            $(".delete-event-button-{{ event.id }}").click(function () {
                $(".delete-event-{{ event.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock %}